{% extends "base.html" %}
{% load static %}



{% block title %}Déconnecté{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h2>Déconnecté</h2>
            <p>
            Vous avez été déconnecté avec succès
            Vous pouvez vous <a href="{% url 'login' %}">reconnecter</a>.
            </p> 
        </div>
    </div>
    
{% endblock  %}