{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}S'authentifier{% endblock  %}

{% block content %}
    <style>
        .asteriskField {                      
            display: none;
        }
    </style>
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h2>Connexion</h2>
            
            {% if form.errors %}
                <p style="color:rgb(230, 135, 67)">
                    Votre nom d'utilisateur et votre mot de passe ne correspondent pas.
                    Veuillez réessayer.
                </p>
            {% else %}
                <h4 class="font-weight-light">Département informatique</h4>
            {% endif %}
            <form class="pt-4" method="POST" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username|as_crispy_field }}
                    <i class="mdi mdi-account"></i>
                </div>
                <div class="form-group">
                    {{ form.password|as_crispy_field }}
                    <i class="mdi mdi-eye"></i>
                </div>
                <div class="mt-5">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium" value="Se connecter"></p>
                </div>
                <div class="mt-3 text-center">
                    <a href="{% url 'password_reset' %}" class="auth-link text-white">mot de passe oublié?</a>
                    <p class="mt-2"> Vous êtes nouveau ? <a style="color:rgb(230, 135, 67)" href="{% url 'register' %}"> S'INSCRIRE</a> </p>
                </div>                 
            </form>
        </div>
    </div>
    
{% endblock  %}