{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Réinitialisez votre mot de passe{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h1>Réinitialisez votre mot de passe</h1>
            {% if validlink %}
                <p>Veuillez saisir votre nouveau mot de passe deux fois:</p>
                <form method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium" value="Changer mon mot de passe" /></p>
                </form>
            {% else %}
                <p>Le lien de réinitialisation du mot de passe n'était pas valide, 
                    probablement parce qu'il a déjà été utilisé.
                    Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock  %}

