{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Réinitialisez votre mot de passe{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h1>mot de passe oublié?</h1>
            <p>Entrer votre adresse email pour obtenir un nouveau mot de passe.</p>
            <form method="post">
                {{ form|crispy }}
                <p><input type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium" value="Envoyer l'email"></p>
                {% csrf_token %}
            </form>
            
        </div>
    </div>
    
{% endblock  %}