{% extends "account/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Changer votre mot de passe{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">Changer mot de passe</li>
    </ol>
  {% endblock  %}
{% block content %}
    <style>
        .asteriskField {                      
            display: none;
        }
    </style>
    <div class="col-md-6">
        <div class="card " >
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h4 class="card-title">Changer votre mot de passe</h4>
                </div>
                <div class="card-body ">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                   
                </div>
                <div class="card-footer ">
                    <div class="row">
                        <div class="col-md-9">
                            <p><input type="submit" class="btn btn-fill btn-rose" value="Valider"></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock  %}