{% extends "base.html" %}
{% load static %}



{% block title %}réinitialisez votre mot de passe{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h2>Vous avez demandé la réinitialisation du mot de passe pour l'e-mail {{email}}.
             Suivez le lien ci-dessous:</h2>
             {{ protocol }}://{{ domain }}{% url "password_reset_confirm"
             uidb64=uid token=token %}
            Votre nom d'utilisateur, au cas où vous auriez oublié: {{ user.get_username }}
        </div>
    </div>
    
{% endblock  %}