{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Mot de passe réinitialisé{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h1>Mot de passe défini</h1>
            <p>Votre mot de passe a été défini.
                <a href="{% url "login" %}">connectez-vous maintenant</a></p>
        </div>
    </div>
    
{% endblock  %}

