{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Réinitialisez votre mot de passe{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h1>Réinitialisez votre mot de passe</h1>
            <p> Nous vous avons envoyé par e-mail les instructions pour définir votre mot de passe. </p>
            <p> Si vous ne recevez pas d'e-mail, veuillez vous assurer que vous avez saisi l'adresse avec laquelle vous
            vous êtes inscrit. </p>
        </div>
    </div>
    
{% endblock  %}
