{% extends "account/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Changer votre mot de passe{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">Changer mot de passe</li>
    </ol>
  {% endblock  %}
{% block content %}
        <div class="col-lg-8 mx-auto">
                <div class="alert alert-rose alert-with-icon" >
                    <i class="material-icons" data-notify="icon">notifications</i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span data-notify="message"><p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
                      <h1>Mot de passe changé</h1>
                      <h2>Votre mot de passe a été changé avec succès.</h2></span>
                </div>
          </div>
{% endblock  %}