{% extends "account/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}profil de l'étudiant{% endblock %}

{% block arbo %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Tableau de Bord</a>
  </li>
  <li class="breadcrumb-item active">Profil de l'étudiant</li>
</ol>
{% endblock  %}


{% block content %}
	{% for user in users %}
        <div class="content">
            <div class="container-fluid">
            <div class="row">
				<div class="col-md-4">
					<div class="card card-profile">
						<div class="card-avatar">
						<a href="#pablo">
							{% if user.etudiant.photo %}
							<img src="{{ user.etudiant.photo.url }}" class="picture-src" id="wizardPicturePreview" title=""> 
							{% else %}
								<img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title="">
							{% endif %}
						</a>
						</div>
						<div class="card-body">
						<h6 class="card-category text-gray">{{user.etudiant.niveau}} {{user.etudiant.specialite}}</h6>
						
						<h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
						
						<p class="card-description">
		
						</p>
						
						</div>
					</div>
				</div>
                <div class="col-md-8">
					<div class="card ">
					  <div class="card-header ">
						<h4 class="card-title">Information sur l'étudiant
						</h4>
					  </div>
					  <div class="card-body ">
						<ul class="nav nav-pills nav-pills-rose" role="tablist">
						  <li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
							  Présentation
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
								Contacts
							</a>
						  </li>
						</ul>
						<div class="tab-content tab-space">
						  <div class="tab-pane active" id="link1">
							<div>
								<h3><strong>Prénom</strong> : {{user.first_name|upper}}</h3>
								<h3><strong>Nom</strong> : {{user.last_name|upper}}</h3>
								<h3><strong>Numéro carte étudiant</strong> : {{user.etudiant.num_cart|upper}}</h3>
								<h3><strong>Niveau</strong> : {{user.etudiant.niveau|upper}}</h3>
								<h3><strong>Promotion</strong> : {{user.etudiant.promotion|upper}}</h3>
								<h3><strong>Spécialité</strong> : {{user.etudiant.specialite|upper}}</h3>
								<h3><strong>domaine de prédilection</strong> : {{user.etudiant.domaine_predilection|upper}}</h3>
							</div>
						  </div>
						  
						  <div class="tab-pane" id="link2">
							<div>
								{% if user.is_prof %}
								<h3><strong>Numéro de téléphone</strong> : {{user.etudiant.phone_number}}</h3>
								{% endif %}
								<h3><strong>Email</strong> : {{user.email}}</h3>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				</div>
            </div>
            </div>
		</div>
	{% endfor %}
 {% endblock  %}
