{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'delete_memoire' memoire.id %}" class="delete-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Supprimer un mémoire</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		<p class="lead"> Etes vous sûre de vouloir supprimer le mémoire <strong>{{memoire.title}}</strong> </p>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		<button type="submit" class="btn btn-danger">Supprimer mémoire</button>
		</div>
</form>