{% extends "account/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Editer mon profil{% endblock %}

{% block arbo %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Tableau de Bord</a>
  </li>
  <li class="breadcrumb-item active">Profil Alumni</li>
</ol>
{% endblock  %}


{% block content %}
        <div class="content">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                        <a href="#pablo">
                            {% if user.etudiant.photo %}
                            <img src="{{ user.etudiant.photo.url }}" class="picture-src" id="wizardPicturePreview" title=""> 
                            {% else %}
                                <img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title="">
                            {% endif %}
                        </a>
                        </div>
                        <div class="card-body">
                        <h6 class="card-category text-gray">{{user.etudiant.alumni.poste}}</h6>
                        <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                        <p class="card-description">
                           
                        </p>
                      
                        </div>
                    </div>
                    </div>
                <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">Modifier le profil
                    <h4 class="card-title">
                        <small class="category">Compléter votre profil</small>
                    </h4>
                    </div>
                    <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    {{ profile_forms.situation|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    {{ profile_forms.entreprise|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    {{ profile_forms.poste|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                     {{ profile_forms.date_soutenance|as_crispy_field }} 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ profile_forms.taille_fichier|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ profile_forms.title|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="">
                               couverture : {{ profile_forms.couverture }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                              Pdf : {{ profile_forms.pdf }}
                            </div>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-rose pull-right">Mettre à jour</button>
                        <div class="clearfix"></div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

 {% endblock  %}
