{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Liste des anciens étudiants{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">listes des anciens étudiants (Alumni)</li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Liste des Alumnis</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover " cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Ordre #</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email </th>
                        <th>téléphone portable</th>
                        <th>Entreprise</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for etudiant in etudiants %}
                        {% if etudiant.user.etudiant.is_alumni %}
                          <tr>
                            <td>{{etudiant.user.id}}</td> 
                            <td>{{etudiant.user.first_name}}</td>
                            <td>{{etudiant.user.last_name}}</td>
                            <td>{{etudiant.user.email}}</td>
                            <td>{{etudiant.user.etudiant.num_cart}}</td>
                            <td>{{etudiant.user.etudiant.alumni.entreprise}}</td>
                            <td>
                              <a class="btn btn-info " href="{% url 'view_alumni' etudiant.user.id %}"  title="voir"
                                 style=" margin: 0; padding: 5px;"><i class="material-icons">person</i></span></a>
                          </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr> 
                        <th>Ordre #</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email </th>
                        <th>téléphone portable</th>
                        <th>Entreprise</th>
                        <th>Actions</th>
                      </tr>
                    </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
{% endblock %}