{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Liste des mémoires{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">listes des anciens mémoires</li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Liste des mémoires</h4>
            <div>
              
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Couverture</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de soutenance</th>
                        <th>Taille fichier</th>
                        <th>Télécharger</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for memoire in memoires %}
                      <tr>
                        <td>
                            {% if memoire.etudiant.alumni.couverture %}
                                <img src="{{ memoire.etudiant.alumni.couverture.url }}" alt="{{ memoire.etudiant.alumni.title }}" style="width:100px;">
                            {% else %}
                                <span class="text-muted">Pas de couverture</span>
                            {% endif %}
                        </td>  
                        <td>{{memoire.etudiant.alumni.title}}</td>
                        <td><a href="{{ memoire.etudiant.get_absolute_url }}">{{memoire.etudiant.user.first_name}} {{memoire.etudiant.user.last_name}} </a></td>
                        <td>{{memoire.etudiant.alumni.date_soutenance}}</td>
                        <td>{{memoire.etudiant.alumni.taille_fichier}} Mo</td>
                        <td>
                              {% if memoire.etudiant.alumni.pdf %}
                              <a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                                Télécharger PDF
                              </a>
                              {% else %}
                                <span class="text-muted">Pas de document</span>
                              {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Couverture</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date de soutenance </th>
                            <th>Taille fichier</th>
                            <th>Télécharger</th>
                          </tr>
                    </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
{% endblock %}