{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Calendrier{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">Calendrier</li>
    </ol>
  {% endblock  %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
            <div class="header text-center">
                <h3 class="title">Calendrier</h3>
                </p>
            </div>
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-calendar">
                    <div class="card-body ">
                    <div id="fullCalendar"></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}