{% extends "account/dashboard.html" %}
{% load static%}

{% block title %}Calendrier{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-12">
          <div class="card px-3">
              <div class="card-body">
                  <h4 class="card-title">Calendrier</h4>
                  <div id="calendar"></div>
              </div>
          </div>
      </div>
  </div>
{% endblock  %}
