{% extends "account/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Editer mon profil{% endblock %}

{% block arbo %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Tableau de Bord</a>
  </li>
  <li class="breadcrumb-item active">Profil</li>
</ol>
{% endblock  %}


{% block content %}
        {% if user.is_prof %}
                <div class="col-md-8 col-12 mr-auto ml-auto">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                    <div class="card card-wizard active" data-color="rose" id="wizardProfile">
                        <form action="" method="post" enctype="multipart/form-data" novalidate="novalidate">
                            {% csrf_token %}
                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="card-header text-center">
                                <h3 class="card-title">
                                Construisez votre profil
                                </h3>
                                <h5 class="card-description">Ces informations nous permettrons d'en savoir plus sur vous.</h5>
                            </div>
                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                    A propos de moi
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                                    Infos supplémentaires
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                                    Recherches
                                    </a>
                                </li>
                                </ul>
                                <!-- <div class="moving-tab" style="width: 256.488px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">
                                    About
                                    </div>-->
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                <div class="tab-pane active" id="about">
                                    <h5 class="info-text"> Informations de base </h5>
                                    <div class="row justify-content-center">
                                    <div class="col-sm-4">
                                        <div class="picture-container">
                                        <div class="picture">
                                            {% if user.prof.photo %}<!-- insérer la photo de profil de l'étudiant -->
                                                <img src="{{ user.prof.photo.url }}" class="picture-src" id="wizardPicturePreview" title=""> 
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title="">
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group form-control-lg mt-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.first_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="input-group form-control-lg mt-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="material-icons">record_voice_over</i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.last_name|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        <div class="input-group form-control-lg mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            {{ user_form.email|as_crispy_field }}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        <div class="input-group">
                                        <div class="input-group-prepend">
                                        </div>
                                        <div class="">
                                           Photo : {{ profile_form.photo }}
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="account">
                                    <h5 class="info-text">Informations supplémentaires</h5>
                                    <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">menu_book</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.num_matricule|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">view_headline</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.phone_number|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">perm_identity</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.type_prof|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">view_headline</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.grade|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">check_circle</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.specialite|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">pin_drop</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.bureau|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="address">
                                    <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <h5 class="info-text"> les travaux de recherche </h5>
                                    </div>
                                    <div class="input-group form-control-lg mt-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">alternate_email</i>
                                        </span>
                                        </div>
                                        <div class="form-group">
                                            {{ profile_form.domaine_recherche|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="input-group form-control-lg mt-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">description</i>
                                        </span>
                                        </div>
                                        <div class="form-group">
                                            {{ profile_form.contenu_recherche|as_crispy_field }}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mr-auto">
                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Revenir">
                                </div>
                                <div class="ml-auto">
                                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Suivant">
                                <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="" value="Terminé" style="display: none;">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    </div>
                    <!-- wizard container -->
                </div>
        {% else %}
                <div class="col-md-8 col-12 mr-auto ml-auto">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                    <div class="card card-wizard active" data-color="rose" id="wizardProfile">
                        <form action="" method="post" enctype="multipart/form-data" novalidate="novalidate">
                            {% csrf_token %}
                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="card-header text-center">
                                <h3 class="card-title">
                                Construisez votre profil
                                </h3>
                                <h5 class="card-description">Ces informations nous permettrons d'en savoir plus sur vous.</h5>
                            </div>
                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                                    A propos de moi
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                                    Infos supplémentaires
                                    </a>
                                </li>
                                <li class="nav-item" style="width: 33.3333%;">
                                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                                   Extra
                                    </a>
                                </li>
                                </ul>
                                <!-- <div class="moving-tab" style="width: 256.488px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s ease 0s;">
                                    About
                                    </div>-->
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                <div class="tab-pane active" id="about">
                                    <h5 class="info-text"> Informations de base </h5>
                                    <div class="row justify-content-center">
                                    <div class="col-sm-4">
                                        <div class="picture-container">
                                        <div class="picture">
                                            {% if user.etudiant.photo %}<!-- insérer la photo de profil de l'étudiant -->
                                                <img src="{{ user.etudiant.photo.url }}" class="picture-src" id="wizardPicturePreview" title=""> 
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title="">
                                            {% endif %}
                                        </div>
                                
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group form-control-lg">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.first_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="input-group form-control-lg mt-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="material-icons">record_voice_over</i>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                {{ user_form.last_name|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        <div class="input-group form-control-lg mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            {{ user_form.email|as_crispy_field }}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        <div class="input-group">
                                        <div class="input-group-prepend">
                                        </div>
                                        <div class="">
                                           Photo : {{ profile_form.photo }}
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="account">
                                    <h5 class="info-text">Informations supplémentaires</h5>
                                    <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row">
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">perm_identity</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.num_cart|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">view_headline</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.phone_number|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">check_circle</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.niveau|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">menu_book</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.promotion|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">pin_drop</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.specialite|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="input-group form-control-lg mt-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">alternate_email</i>
                                                </span>
                                                </div>
                                                <div class="form-group">
                                                    {{ profile_form.domaine_predilection|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="address">
                                    <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <h5 class="info-text"> Cloture du compte étudiant </h5>
                                    </div>
                                    
                                    <div class="input-group form-control-lg">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">check_circle</i>
                                        </span>
                                        </div>
                                        <div class="form-group">
                                           Cloture du compte étudiant {{ profile_form.is_alumni}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="mr-auto">
                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Revenir">
                                </div>
                                <div class="ml-auto">
                                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Suivant">
                                <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="" value="Terminé" style="display: none;">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    </div>
                    <!-- wizard container -->
                </div>
            
        {% endif %}

 {% endblock  %}
