{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Créer un Compte d'utilisateur{% endblock  %}

{% block content %}
<style>
    .asteriskField {                      
        display: none;
    }
</style>
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            <h4 align="center">MASTER INFORMATIQUE UASZ</h4>
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h2>Créer un compte</h2>
            <form class="pt-4" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-5">
                    <p><input type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium" value="Créer un compte"></p>
                </div>               
            </form>
        </div>
    </div>
    
{% endblock  %}
