{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}gerer les enseignants{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">Gérer les enseignants</li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Gérer des enseignants</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover " cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Ordre #</th>
                        <th>Nom complet</th>
                        <th>Nom d'utilisateur</th>
                        <th>Mot de passe </th>
                        <th>Date de création </th>
                        <th>Actions </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for prof in profs %}
                      <tr>
                        <td>{{prof.user.id}}</td> 
                        <td>{{prof.user.first_name}} {{prof.user.last_name}}</td>
                        <td>{{prof.user.username}}</td>
                        <td>{{prof.user.password}}</td>
                        <td>{{prof.user.date_joined  |date:"d-m-Y H:i:s" }}</td>
                        <td>
                            <a class="btn btn-danger btn-round"  href="delete_prof/{{ prof.user.id }}"  style=" margin: 0; padding: 5px;"><i class="material-icons">close</i></span></a>
                        </td>
                       <!--<td>
                          <label class="badge badge-info">{{user.prof.presence}}</label href="delete_prof/{{ prof.user.id }}">  
                        </td>-->
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr> 
                        <th>Ordre #</th>
                        <th>Nom complet</th>
                        <th>Nom d'utilisateur</th>
                        <th>Mot de passe </th>
                        <th>Date de création </th>
                        <th>Actions </th>
                      </tr>
                    </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>

{% endblock %}