{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Créer un Compte d'utilisateur{% endblock  %}

{% block content %}
<style>
    .asteriskField {                      
        display: none;
    }
</style>
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            <h4 align="center">MASTER INFORMATIQUE UASZ</h4>
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h2>Créer un compte</h2>
            <div class="card-body">
               <form >
                    <div class="row">
                    <div class="col-lg-6">
                        <a type="button" class="btn btn-block btn-warning btn-lg font-weight-medium" href="{% url 'etudiant_register' %}">Je suis un étudiant</a>
                    </div>
                    <div class="col-lg-6">
                        <a type="button" class="btn btn-block btn-warning btn-lg font-weight-medium" href="{% url 'prof_register' %}">Je suis un professeur</a>
                    </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    
{% endblock  %}
