{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Mot de passe réinitialisé{% endblock  %}

{% block content %}

    <div class="col-lg-4 mx-auto">
        <div class="auth-form-dark text-left p-5">
            <h4 align="center">MASTER INFORMATIQUE UASZ</h4>
            <p align="center"><img src="{% static 'images/auth/images.jpg' %}" ></p>
            <h1>Bienvenue {{ user.username }}!</h1>
            <p>Votre compte a été crée avec succès.
                <a href="{% url "login" %}">connectez-vous maintenant</a></p>
        </div>
    </div>
    
{% endblock  %} 

