{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'book_create' %}" class="create-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Create Book</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		{{form|crispy}}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">add book</button>
		</div>
</form>



