{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Liste des professeurs{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">listes des enseignants</li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Liste des enseignants</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Ordre #</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email </th>
                        <th>type de prof</th>
                        <th>Bureau</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for prof in profs %}
                      <tr>
                            <td>{{prof.user.id}}</td> 
                            <td>{{prof.user.first_name}}</td>
                            <td>{{prof.user.last_name}}</td>
                            <td>{{prof.user.email}}</td>
                            <td>{{prof.user.prof.type_prof}}</td>
                            <td>{{prof.user.prof.bureau}}</td>
                        <!--<td>
                              <label class="badge badge-info">{{user.prof.presence}}</label>
                            </td>-->
                            <td>
                              <a class="btn btn-info " href="{% url 'view_prof' prof.user.id %}"  title="voir"
                                style=" margin: 0; padding: 5px;"><i class="material-icons">person</i></span></a>
                              <!--  <button class="btn btn-info btn-round" data-toggle="modal" data-target="#noticeModal">
                                  Notice modal
                                <div class="ripple-container"></div></button> -->
                            </td>

                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr> 
                        <th>Ordre #</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email </th>
                        <th>type de prof</th>
                        <th>Bureau</th>
                        <th>Actions</th>
                      </tr>
                    </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
{% endblock %}
