{% extends "account/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Ajouter un sujet{% endblock %}

{% block arbo %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'dashboard' %}">Tableau de Bord</a>
  </li>
  <li class="breadcrumb-item active">Ajouter un sujet</li>
</ol>
{% endblock  %}


{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-rose">
                                <div class="card-icon">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <h4 class="card-title">Ajouter un sujet de mémoire
                                <h4 class="card-title">
                                    <small class="category">Ajouter </small>
                                </h4>
                            </div>
                            <div class="card-body">
                                <form action="" method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ profile_forms.domaine|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ profile_forms.titre_sujet|as_crispy_field  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ profile_forms.prerequis|as_crispy_field  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ profile_forms.disponibilite|as_crispy_field  }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12">
                                            <div class="">
                                                Pdf : {{ profile_forms.pdf }}
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-rose pull-right">Ajouter</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 {% endblock  %}
