{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Liste des sujets de mémoire{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">liste des sujets de mémoire </li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Liste des sujets de mémoire</h4>
            <div>
              
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Domaine</th>
                        <th>Titre</th>
                        <th>prérequis</th>
                        <th>Auteur</th>
                        <th>Date </th>
                        <th>Disponibilité</th>
                        <th>Télécharger</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sujet in sujets %}
                      <tr>
                        <td>{{sujet.domaine}}</td>
                        <td>{{sujet.titre_sujet}}</td>
                        <td>{{sujet.prerequis}}</td>
                        <td><a href="{{ sujet.prof.get_absolute_url }}">{{sujet.prof.user.first_name}} {{sujet.prof.user.last_name}}</a></th>
                        <td>{{sujet.uploaded_at}}</td>
                        <td><a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                          Libre
                        </a></td>
                        <td>
                          {% if sujet.pdf %}
                          <a href="{{ sujet.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                            Télécharger le sujet
                          </a>
                          {% else %}
                            <span class="text-muted">Pas de document</span>
                          {% endif %}
                        </td>
                        <td>
                          <a class="btn btn-info btn-round" data-toggle="modal" data-target="#noticeModal" style=" margin: 0; padding: 5px;" href="#"><i class="material-icons" title="Voir">person</i></a>
                          {% if user.is_superuser %}
                          <a class="btn btn-danger btn-round"  href="delete_sujetBis/{{ sujet.id }}"  style=" margin: 0; padding: 5px;"><i class="material-icons">close</i></span></a>
                          <a class="btn btn-danger btn-round"  href="{% url 'view_sujet' sujet.id %}"  style=" margin: 0; padding: 5px;"><i class="material-icons">edit</i></span></a>
                          {% endif %}
                        </td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>Domaine</th>
                          <th>Titre</th>
                          <th>prérequis</th>
                          <th>Auteur</th>
                          <th>Date </th>
                          <th>Disponibilité</th>
                          <th>Télécharger</th>
                          <th>actions</th>
                        </tr>
                    </tfoot>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-notice" style="width:1250px;">
        <div class="modal-content" >
          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel"><b> Détails sujet de mémoire</b></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="material-icons">close</i>
            </button>
          </div>
          <div class="modal-body">
              
              <div>
                  <h3><strong>Domaine</strong> : {{sujetmemoire.domaine}}</h3>
                  <h3><strong>Titre</strong> : {{sujetmemoire.titre_sujet}}</h3>
                  <h3><strong>Prérequis</strong> : {{sujetmemoire.prerequis}}</h3>
                  <h3><strong>Auteur</strong> : <a href="{{ sujet.prof.get_absolute_url }}">{{sujet.prof.user.first_name}} {{sujet.prof.user.last_name}}</a></h3>
                  <h3><strong>Date</strong> : {{sujet.uploaded_at}}</h3>
                  <h3><strong>Disponibilité</strong> : <a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                      Libre
                    </a></h3>
                  <h3><strong>Télécharger</strong> : {% if sujet.pdf %}
                      <a href="{{ sujet.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                        Télécharger le sujet
                      </a>
                      {% else %}
                        <span class="text-muted">Pas de document</span>
                      {% endif %}</h3>
              </div>
              
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}