{% extends "account/dashboard.html" %}
{% load static %}
{% block title %}Liste de mes sujets de mémoire{% endblock  %}

  {% block arbo %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'dashboard' %}">Tableau de Bord</a>
      </li>
      <li class="breadcrumb-item active">liste de mes sujets de mémoire </li>
    </ol>
  {% endblock  %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Liste de mes sujets de mémoire</h4>
            <div>
              
            </div>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                      <tr>
                        <th>Domaine</th>
                        <th>Titre</th>
                        <th>prérequis</th>
                        <th>Auteur</th>
                        <th>Date </th>
                        <th>Disponibilité</th>
                        <th>Télécharger</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sujet in sujets %}
                      <tr>
                        <td>{{sujet.domaine}}</td>
                        <td>{{sujet.titre_sujet}}</td>
                        <td>{{sujet.prerequis}}</td>
                        <td><a href="{{ sujet.prof.get_absolute_url }}">{{sujet.prof.user.first_name}} {{sujet.prof.user.last_name}}</a></th>
                        <td>{{sujet.uploaded_at}}</td>
                        <td><a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                          Libre
                        </a></td>
                        <td>
                          {% if sujet.pdf %}
                          <a href="{{ sujet.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                            Télécharger le sujet
                          </a>
                          {% else %}
                            <span class="text-muted">Pas de document</span>
                          {% endif %}
                        </td>
                        <td class="td-actions ">
                            <button class="btn btn-info btn-round" data-toggle="modal" data-target="#noticeModal">
                                <i class="material-icons">person</i>
                              <div class="ripple-container"></div></button>
                            <button type="button" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                              <i class="material-icons">edit</i>
                            </button>
                            <a class="btn btn-danger btn-round"  href="delete_sujet/{{ sujet.id }}"  style=" margin: 0; padding: 5px;"><i class="material-icons">close</i></span></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>Domaine</th>
                          <th>Titre</th>
                          <th>prérequis</th>
                          <th>Auteur</th>
                          <th>Date </th>
                          <th>Disponibilité</th>
                          <th>Télécharger</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
              </table>
              <h3><strong>Domaine</strong> : {{sujetmemoire.domaine}}</h3>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-notice" style="width:1250px;">
          <div class="modal-content" >
            <div class="modal-header">
              <h3 class="modal-title" id="myModalLabel"><b> Détails sujet de mémoire</b></h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="material-icons">close</i>
              </button>
            </div>
            <div class="modal-body">
                
                <div>
                  

                    <h3><strong>Domaine</strong> : {{sujetmemoire.domaine}}</h3>
                    <h3><strong>Titre</strong> : {{sujet.titre_sujet}}</h3>
                    <h3><strong>Prérequis</strong> : {{sujet.prerequis}}</h3>
                    <h3><strong>Auteur</strong> : <a href="{{ sujet.prof.get_absolute_url }}">{{sujet.prof.user.first_name}} {{sujet.prof.user.last_name}}</a></h3>
                    <h3><strong>Date</strong> : {{sujet.uploaded_at}}</h3>
                    <h3><strong>Disponibilité</strong> : <a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                        Libre
                      </a></h3>
                    <h3><strong>Télécharger</strong> : {% if sujet.pdf %}
                        <a href="{{ sujet.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                          Télécharger le sujet
                        </a>
                        {% else %}
                          <span class="text-muted">Pas de document</span>
                        {% endif %}</h3>
                                      
                  
                </div>
               
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

    <div class="card-body">
        <h4 class="card-title">Drag and drop tasks</h4>
        <p class="card-description">
          Drag and drop tasks from todo to in-progress or vice-versa
        </p>
        <div class="row">
          <div class="col-md-6">
            <h6 class="card-title">Todo</h6>
            <div id="dragula-left" class="py-2">
              
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-cellphone-link icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Build wireframe</h6>
                      <p class="mb-0 text-muted">
                        Build wireframe for the new app                               
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div><div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-file-outline icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Postpone project deadline</h6>
                      <p class="mb-0 text-muted">
                        Fix new release date                             
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-upload icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Upload the new update</h6>
                      <p class="mb-0 text-muted">
                        Submit the new build in play store                              
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-airplane icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Book flight</h6>
                      <p class="mb-0 text-muted">
                        Book flight tickets                               
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <h6 class="card-title">In progress</h6>
            <div id="dragula-right" class="py-2">
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-account icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Prohect details</h6>
                      <p class="mb-0 text-muted">
                        Get new project details from Greg                               
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-apps icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Leave approval</h6>
                      <p class="mb-0 text-muted">
                        Approve leaves for Mike                           
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-bank icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Make reservations at hotel</h6>
                      <p class="mb-0 text-muted">
                        Book rooms for vacation                             
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-calendar icon-sm align-self-center mr-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Meeting with client</h6>
                      <p class="mb-0 text-muted">
                        New project meeting                              
                      </p>
                    </div>                              
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}