{% for sujet in sujets %}
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-notice" style="width:1250px;">
      <div class="modal-content" >
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel"><b> Détails sujet de mémoire</b></h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
            
            <div>
                <h3><strong>Domaine</strong> : {{sujet.domaine}}</h3>
                <h3><strong>Titre</strong> : {{sujet.titre_sujet}}</h3>
                <h3><strong>Prérequis</strong> : {{sujet.prerequis}}</h3>
                <h3><strong>Auteur</strong> : <a href="{{ sujet.prof.get_absolute_url }}">{{sujet.prof.user.first_name}} {{sujet.prof.user.last_name}}</a></h3>
                <h3><strong>Date</strong> : {{sujet.uploaded_at}}</h3>
                <h3><strong>Disponibilité</strong> : <a href="{{ memoire.etudiant.alumni.pdf.url }}" class="btn btn-success btn-sm" target="_blank">
                    Libre
                  </a></h3>
                <h3><strong>Télécharger</strong> : {% if sujet.pdf %}
                    <a href="{{ sujet.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                      Télécharger le sujet
                    </a>
                    {% else %}
                      <span class="text-muted">Pas de document</span>
                    {% endif %}</h3>
            </div>
            
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>{% endfor %}